.header{
    display: flex;
    background-color: purple;

}

.logo{
    color: white;
    font-family: 'Arial Narrow Bold', sans-serif;
    flex-basis: 500px;
}

.top-links{
    display: flex;
    justify-self: end;
    align-items: center;
    
}